<h2>Show cart</h2>

<ul>

  <li>
    <strong>User ID:</strong>
    <%= @cart.user_id %>
  </li>

  <li>
    <strong>Total:</strong>
    <%= @cart.total %>
  </li>

  <li>
    <strong>Items:</strong>
    <ul>
      <%= for item <- @cart.items do %>
        <li>
          <%= "#{item["type"]} - #{item["price"]} - #{item["quantity"]}" %>
        </li>
      <%= end %>
    </ul>
  </li>

</ul>

<%= link "Back", to: page_path(@conn, :index) %>
